<div class="card container my-5">
    <div class="card-body">
        <h3 class="card-title text-center" >Login</h3>
        <div class="card-text">
            <form (ngSubmit)="onSubmit(form);" #form="ngForm">
                <div class="form-group">
                    <label class="h5" for="username" >Username:</label>
                    <input id="username" #username="ngModel" name="username" type="text" class="form-control" required [(ngModel)]="user.username" >
                </div>
                <div class="form-group">
                    <label class="h5" for="password">Password:</label>
                    <input id="password" #password="ngModel" name="password" type="password" class="form-control" required [(ngModel)]="user.password" >
                </div>
                    <button type="submit" class="btn btn-block btn-lg btn-success" [disabled]="!form.form.valid" >Login</button>
                    <button type="submit" class="btn btn-block btn-lg btn-primary" routerLink="/registry">Registry</button>
                    
            </form>
        </div>
    </div>
</div>
